.password {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.password label {
    font-size: 24px;
    font-family: sans-serif;
}

.password > div {
    width: 100%;
    border: 1px solid grey;
    border-radius: var(--radius);
    display: flex;
}

.password > div input {
    flex-grow: 1;
    padding: 8px 10px;
    font-size: 18px;
    transition: all 0.3s ease;
    border: none;
    outline: none;
}

.password > div input:focus {
    border: 4px solid black;
}

.password > div button {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: none;
    background: transparent;
    cursor: pointer;
}


.email, 
.text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.email,
.text label {
    font-size: 24px;
    font-family: sans-serif;
}

.email,
.text input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid grey;
    border-radius: var(--radius);
    font-size: 18px;
    transition: all 0.3s ease;
    outline: none;
}

.email,
.text input:focus {
    border: 4px solid black;
}


.search {
    max-width: 400px;
    width: 100%;
    border-radius: var(--radius);
    border: 1px solid var(--secondary-clr);
    padding: 8px 10px; 
    font-size: 18px;
}

.selectOptions {
    width: 100%;

    input {
    width: 100%;
    padding: 8px 10px;
    border-radius: var(--radius);
    border: 1px solid var(--secondary-clr);
    background-color: var(--primary-clr);
    font-size: 18px;
    font-family: sans-serif;
    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #6666;
        border-radius: var(--radius);

        li {
            padding: 8px 10px;
            border-bottom: 1px solid grey;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                background-color: aliceblue;
            }
        }
        li:last-child {
            border-bottom: none;
        }
    }

}